.navbar-area {
}
.navbar-main {
  padding-top: 50px;
  padding-bottom: 20px;
}
.navbar-center {
  margin-left: 150px;
}
.navItemSearch {
  margin-left: 200px;
  margin-top: 9px;
}
.icon-navbar {
  font-size: 20px;
  cursor: pointer;
}
.nav-item {
  font-size: 20px;
}

@media screen and (min-width: 300px) and (max-width: 900px) {
  .icon-navbar {
    margin-left: -199px;
  }
}
